<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="anandniketan.com.skool360"
    tools:node="replace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <supports-screens android:xlargeScreens="true" />

    <application
        android:name="anandniketan.com.skool360.base.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">

        <activity
            android:name="anandniketan.com.skool360.Activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name="anandniketan.com.skool360.Activity.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:node="replace" />

        <activity
            android:name="anandniketan.com.skool360.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="anandniketan.com.skool360.Activity.Server_Error" />

        <!-- Firebase Notifications -->
        <!--<service android:name=".MyFirebaseMessagingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service android:name=".MyFirebaseInstanceIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

    </application>

</manifest>